$feature-flags: (
  components-x: true,
  ui-shell: true
);
@import "~carbon-components/src/globals/scss/styles.scss";

.App {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

.bx--row {
  display:block;
}
.bx--content {
  padding: 0px;
}
