.pattern-container {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  text-align: left;
  background-color: lightgray;
}
.display-form-item {
  margin: 20px 0 20px 0;
}
.simple-list-row {
  text-align: left;
}
.left-align {
  display: block !important;
  text-align: left;
}
.center-align {
  text-align: center;
}
.dropdown-invalid {
  max-height: 12.5rem;
  display: block;
  color: #e0182d;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 0.25rem 0 0;
  overflow: hidden;
  line-height: 1.5;
  text-align: left;
}
.pattern-description {
  padding: 20px 0 20px 0;
  line-height: 1.5;
}
.pattern-title {
  font-size: 2rem;
  font-weight: 800;
}
.bx--structured-list {
  margin-bottom: 2rem !important;
}
.bx--data-table-v2-container {
  min-width: 0 !important;
}
.list-to-list-moving-btn {
  margin: 5px;
}
.list-to-list-moving-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx--grid {
  margin: 0 !important;
  padding: 0 !important;
}
.bx--inline-notification__icon {
  display: inline-block !important;
}
.bx--inline-notification__text-wrapper {
  max-width: 100% !important;
}
.add-delete-row-buttons {
  margin-left: 15px;
  margin-right: 15px;
}
.bx--tile {
  background-color: #fff !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dfe3e6;
}
